* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        min-height: 100vh;
        font-size: 15px;
}

a {
        text-decoration: none;
}

/* HEADER */

header {
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 2rem;
        margin: 0 auto;
        justify-content: space-between;
}

.nav {
        justify-self: right;
        width: 80%;
        flex-direction: row;
        text-align: end;
}

nav ul {
        list-style-type: none;
}

nav li {
        display: inline-block;
        padding: 1rem;
}

nav li a {
        color: hsl(236, 13%, 42%);
}

nav li a:hover {
        color: hsl(5, 85%, 63%);
}

.logo {
        width: 20%;
}

/* MAIN */

main {
        display: grid;
        min-height: 100vh;
        flex-direction: column;
        padding: 20px;
        margin: 0 auto;
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
}

.banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: span 2;
        grid-row: span 2;
}

.banner-image {
        background-image: url('assets/images/image-web-3-desktop.jpg');
        width: 100%;
        min-height: 200px;
        background-size: cover;
        background-position: center;
        grid-column: span 2;
}

.banner-title {
        grid-column: span 1;
        padding: 2rem;
}

.banner-text {
        grid-column: span 1;
        padding: 2rem;
        color: hsl(236, 13%, 42%);
}

.banner-text p {
        line-height: 1.5rem;
}

.readmore {
        display: inline-block;
        padding: 1rem;
        background-color: hsl(5, 85%, 63%);
        color: hsl(240, 100%, 5%);
        text-transform: uppercase;
        margin-top: 1rem;
        letter-spacing: 5px;
        font-weight: 700;
}

.readmore:hover {
        display: inline-block;
        padding: 1rem;
        background-color: hsl(240, 100%, 5%);
        color: hsl(36, 100%, 99%);
        text-transform: uppercase;
        margin-top: 1rem;
        letter-spacing: 5px;
        font-weight: 700;
}

h2 {
        color: hsl(240, 100%, 5%);
        font-size: 4rem;
}

/* SIDEBAR */

.sidebar {
        grid-row: span 2;
        background-color: hsl(240, 100%, 5%);
        padding: 2rem;
}

.sidebar-item {
        padding: 2rem 0 2rem 0;
}

.sidebar-item p {
        color: hsl(236, 13%, 42%);
}

h3 {
        color: hsl(35, 77%, 62%);
        font-size: 2rem;
}

h4, h4 a {
        color: hsl(36, 100%, 99%);
        font-size: 1.45rem;
}

h4 a:hover{
        color: hsl(35, 77%, 62%);
}

hr {
        border: none;
        border-top: 0.5px solid hsl(36, 100%, 99%);
        width: 100%;
        margin: 1rem auto;
}

/* TRENDING */

.trending {
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
}

.trending-item {
        display: flex;
        flex-direction: row;
        gap: 1rem;
}

.trending-item img {
        width: 40%;
        height: fit-content;
}

.trending-item-text {
        flex-direction: column;
}

h5 {
        color: hsl(5, 85%, 63%);
        font-size: 1.6rem;
}

h6, h6 a {
        color: hsl(240, 100%, 5%);
        font-size: 1rem;
}

h6 a:hover {
        color: hsl(5, 85%, 63%);
}

/* FOOTER */

.attribution {
        font-size: 11px;
        text-align: center;
        padding: 1rem 0 1rem 0;
}

.attribution a {
        color: hsl(228, 45%, 44%);
}

/* RESPONSIVE */
@media (max-width: 1024px) {
        header {
                width: 90%;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 1rem;
                margin: 0 auto;
        }
        
        main {
                width: 90%;
                grid-template-columns: 1fr;
                grid-template-rows: auto;        
                padding: 1rem;
                gap: 2rem;
        }

        .banner {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-column: span 1;
        }
        
        .banner-image {
                background-image: url('assets/images/image-web-3-mobile.jpg');
                grid-column: span 1;
                height: 300px;
        }
        
        .banner-title, .banner-text {
                grid-column: span 1;
                padding: 1rem 0;
        }
        
        h2 {
                font-size: 2.5rem;
        }
        
        .sidebar {
                grid-column: span 1;
        }
        
        .trending {
                grid-template-columns: 1fr;
                grid-column: span 1;
                gap: 2rem;
        }
        
        .trending-item img {
        width: 40%;
        }

        .menu-open {
                display: block;
                background: none;
                border: none;
                cursor: pointer;
        }
        
        .menu-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                z-index: 9;
        }
        
        nav {
                position: fixed;
                top: 0;
                right: -70%;
                width: 70%;
                height: 100vh;
                background-color: white;
                z-index: 10;
                transition: right 0.3s ease-in-out;
                display: flex;
                flex-direction: column;
                padding: 2rem;
                text-align: left;
        }
        
        nav.active {
                right: 0;
        }
        
        .menu-overlay.active {
                display: block;
        }
        
        nav ul {
                margin-top: 5rem;
        }
        
        nav li {
                display: block;
                padding: 1rem 0;
                font-size: 1.2rem;
        }
        
        .menu-close {
                position: absolute;
                top: 2rem;
                right: 2rem;
                background: none;
                border: none;
                cursor: pointer;
        }

}

@media (min-width: 1025px) {

        .menu-open,
        .menu-close,
        .menu-overlay {
                display: none;
        }
}